*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    /* last */
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    /* background: linear-gradient(0deg, transparent, transparent, #45f3ff); */
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    /* last */
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    /* background: linear-gradient(0deg, transparent, transparent, #45f3ff); */
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    /* animation-delay: 3s; */
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    background: #28292d;
    z-index: 10;
    inset: 2px;
    /* this help the form to get visible and short the form 2 px so that the animation is visible */
    border-radius: 8px;

    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    /* css property flex direction column */

}
.form h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 9;
    /* this line is need that we understand at the ending portion */
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0 10px 0;
    /* same as the upper box */
    color: #8f8f8f;
    font-size: 1em;
    pointer-events: none;
    /* this help to remove any pointer action */
    letter-spacing: 0.05em;
    transition: 0.5s;
}
/* important thing. if we select the valid thing or if we focus*/
.inputbox input:valid ~ span,
.inputbox input:focus ~span{
    color: #45f3ff;
    transform: translateY(-34px);
    font-size: 0.75em;
    /* this help when we focus the inputs then the size of the username and password is shirnken */
}
.inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    border-radius: 4px;
    /* it help the next portion when we click the i then it help to increase the height, */
    pointer-events: none;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
    height: 40px;
    /* we also need to increase z index value of the input tag */
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 18px 0;
    font-size: 0.9em;
    text-decoration: none;
    color: #8f8f8f;
}
.links a:hover{
    color: #45f3ff;
}
/* this method is used to specify a certain input we want to chose for styling */
input[type="submit"]
{
    border:none;
    outline:none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 300px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    cursor:pointer;
}
input[type="submit"]:active{
    opacity: 0.8;
    /* this help to us  a click animation */
}

@media (max-width: 430px)
{
    .box{
        width: 350px;
    }
    .inputbox{
        width: 260px;
    }
    input[type="submit"]
    {
        width: 260px;
    }
}